* {
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: #3e4444;
}

#article,
#aside,
#footer,
#header,
#nav {
  padding: 15px;
}

#listak {
  background-color: #82b74b;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#header {
  background-color: #82b74b;
  color: white;
}
#nav {
  background: #e6e2d3;
}

#article {
  text-align: left;
  background: #e6e2d3;
}

#aside {
  background-color: #3e4444;
  text-align: left;
  color: white;
}

#footer {
  background: #3e4444;
  color: white;
  justify-content: space-around;
}

#nav {
  display: flex;
}
#nav a {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  text-decoration: none;
  color: black;
}

img {
  width: 20%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

span {
  font-weight: bold;
  font-style: italic;
  color: red;
}
/* 800px-nél nagyobb képernyő*/
@media screen and (min-width: 800px) {
  body {
    display: flex;
    flex-direction: column;
    max-width: 1500px;
    margin: auto;
  }
  #main {
    display: flex;
  }
  #nav,
  #header {
    order: -1;
  }
  #article {
    order: 2;
    flex: 1 1 80%;
  }
  #aside {
    flex: 1 1 20%;
  }
}
